In [ ]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.neighbors import KNeighborsClassifier

from sklearn.metrics import accuracy_score

In [ ]:
df = pd.read_csv("/content/Iris.csv")

In [ ]:
print(df)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]

In [ ]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:


df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
df['PetalWidthCm']

0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: PetalWidthCm, Length: 150, dtype: float64

In [ ]:
projected_columns = ['PetalWidthCm', 'Species']
df[projected_columns]

     PetalWidthCm         Species
0             0.2     Iris-setosa
1             0.2     Iris-setosa
2             0.2     Iris-setosa
3             0.2     Iris-setosa
4             0.2     Iris-setosa
..            ...             ...
145           2.3  Iris-virginica
146           1.9  Iris-virginica
147           2.0  Iris-virginica
148           2.3  Iris-virginica
149           1.8  Iris-virginica

[150 rows x 2 columns]

In [1]:
df['Species'].value_counts()

NameError: ignored

In [ ]:
input_features = ['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']
df_input = df[input_features]
df_input

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [ ]:
output_features = ['Species']
df_output = df[output_features]
df_output

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 1 columns]

In [ ]:
a, b, c = [2, 3, 1]

In [ ]:
df_input_train, df_input_test, df_output_train, df_output_test = train_test_split(df_input, df_output, test_size = 0.2)

In [ ]:
df_output_test

             Species
7        Iris-setosa
117   Iris-virginica
122   Iris-virginica
14       Iris-setosa
125   Iris-virginica
15       Iris-setosa
141   Iris-virginica
128   Iris-virginica
24       Iris-setosa
112   Iris-virginica
16       Iris-setosa
148   Iris-virginica
104   Iris-virginica
48       Iris-setosa
105   Iris-virginica
27       Iris-setosa
43       Iris-setosa
82   Iris-versicolor
65   Iris-versicolor
38       Iris-setosa
147   Iris-virginica
46       Iris-setosa
5        Iris-setosa
110   Iris-virginica
111   Iris-virginica
94   Iris-versicolor
109   Iris-virginica
26       Iris-setosa
77   Iris-versicolor
135   Iris-virginica

In [ ]:
import sklearn.model_selection

model = KNeighborsClassifier()

In [ ]:
predictions = model.predict(df_input_test)
predictions

array(['Iris-setosa', 'Iris-virginica', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica', 'Iris-setosa', 'Iris-virginica',
       'Iris-virginica', 'Iris-setosa', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-virginica', 'Iris-setosa',
       'Iris-setosa', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-virginica', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [ ]:
df_output_test

             Species
7        Iris-setosa
117   Iris-virginica
122   Iris-virginica
14       Iris-setosa
125   Iris-virginica
15       Iris-setosa
141   Iris-virginica
128   Iris-virginica
24       Iris-setosa
112   Iris-virginica
16       Iris-setosa
148   Iris-virginica
104   Iris-virginica
48       Iris-setosa
105   Iris-virginica
27       Iris-setosa
43       Iris-setosa
82   Iris-versicolor
65   Iris-versicolor
38       Iris-setosa
147   Iris-virginica
46       Iris-setosa
5        Iris-setosa
110   Iris-virginica
111   Iris-virginica
94   Iris-versicolor
109   Iris-virginica
26       Iris-setosa
77   Iris-versicolor
135   Iris-virginica

In [ ]:
accuracy_score(df_output_test, predictions)

1.0

In [ ]:
data = {
    'Id': [23, 24, 12, 56, 87],
    'Gender': ['M', 'F', 'F', 'M', 'F']
}

df = pd.DataFrame(data)

gender_map = {
    'M':  0,
    'F': 1
}

df['Gender'] = df['Gender'].map(gender_map)

df.head()

   Id  Gender
0  23       0
1  24       1
2  12       1
3  56       0
4  87       1

In [ ]:
data = {
    'Age': [2, np.nan, 5, 1, 4],
    'Weight': [np.nan, 3, 6, np.nan, 1]
}

df = pd.DataFrame(data)

df.head()

   Age  Weight
0  2.0     NaN
1  NaN     3.0
2  5.0     6.0
3  1.0     NaN
4  4.0     1.0

In [ ]:
df.isnull().sum()

Age       1
Weight    2
dtype: int64